
<div class="container-fluid">
  <div class="row" id="pad">

	<%=image_tag("dog.png", :class=>"img-responsive", :alt=>"Responsive image") %>
</br>
<b>Tell us your favorite FooFoo Memory!</b>
</br>
<%= form_for(@user, remote: true) do |f| %>
<%= f.text_field :body %>
<%= f.submit "Create Amazing Memory" %>
<% end%>

<ul class="echos">


<%@users.each do |x|%>
    <li><%=x.body%></li>
    <%end%>
    </ul>
  </div>
</div>